/* COLORS */

$light: #797979;

$darkBlue: #132F55;
$darkBlue-pressed: #103F7E;
$darkBlue-disabled: rgba($darkBlue,  0.5);
$darkBlue-hover: #041936;

$magenta: #d52f89;
$magenta-pressed: #990C58;
$magenta-hover: #EB3296;
$magenta-disabled: rgba(213, 47, 137,  0.5);

$lightBlue: #c0c5d0;
$lightBlue-hover: #d5dbe3;
$lightBlue-pressed: #3F4966;
$lightBlue-1\.5: #717E99;

$sand: #ECE3D6;
$sand-hover: #F7F2E9;
$sand-pressed: #D9CEBF;

$vtGold: #d3a05c;

$vtGreen: #358C0C;

$vtBG: #F2ECE1;
